
<h2 style="margin-left:10px"> Login Page </h2>

   <form id="login-form" style="margin-left:10px">
   <fieldset style="margin:5px">
     <label for="InputEmail" >Email address</label>
     <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Enter email">
   </fieldset>
   <fieldset style="margin:5px">
     <label for="InputPassword">Password</label>
     <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="Password">
   </fieldset>
   <fieldset style="margin:5px">
     <label for="InputConfirmPassword">Confirm Password</label>
     <input type="password" class="form-control" id="exampleInputPassword" name="password_confirmation" placeholder="Password">
   </fieldset>

  <button type="submit" class="btn btn-primary" style="margin:5px">Login</button>
  </form>