
<h2 style="margin-left:10px"> Sign Up Page </h2>
<!-- <form id="signup-form">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    Confirm password:<input type="password" name="password_confirmation">
    <button type="submit">Signup</button>
  </form> -->


  <form id="signup-form" style="margin:10px">
   <fieldset style="margin:5px">
     <label for="InputEmail">Email address</label>
     <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Enter email">
   </fieldset>
   <fieldset style="margin:5px">
     <label for="InputPassword">Password</label>
     <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="Password">
   </fieldset>
   <fieldset style="margin:5px">
     <label for="InputConfirmPassword">Confirm Password</label>
     <input type="password" class="form-control" id="exampleInputPassword" name="password_confirmation" placeholder="Password">
   </fieldset>

  <button type="submit" class="btn btn-primary" style="margin:5px">Sign up</button>
  </form>